* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    padding: 0 20px;

}
.h1{
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: aliceblue;
}
.slide{
    height: 80vh;
    flex: 1;
    margin: 9px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer; 
    border-radius: 20px; 
    transition: all 500ms ease-in-out; 
}
.active{
    /* 1+1+1+1+10=14 (один slide больше в 10 раз других другие в равных долях ) */
    flex: 10;
}